<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <%= partial :head %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial :header %>
	<div id="main" class="wrapper">
    <div class="content">
      <%= yield %>
    </div>
      <%= partial :letter_list, :locals => {:current_letter => current_letter(articles) } %>
	</div>
    <%= partial :footer %>
    <%= partial :scripts %>
  </body>
</html>